@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  min-height: 100vh;
  background-image: url('/assets/general/bg-space.jpg'), linear-gradient(to bottom, #000000a0, #000000f0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
}

.gradient-dark-element {
  position: relative;
}

.gradient-dark-element > * {
  z-index: 42;
}

.gradient-dark-element:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #33333340, #333333a0, #33333340) 0 1;
}

.gradient-dark-element:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #33333340, #333333a0, #33333340) 1 0;
}

.gradient-border-h {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #2b46f000, #2b46f0, #00aaff, #87cbf0, #87cbf000) 1 0;
}

.gradient-border-b {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #2b46f000, #2b46f0, #00aaff, #87cbf0, #87cbf000) 0 0 1;
}

.gradient-border-t {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #2b46f000, #2b46f0, #00aaff, #87cbf0, #87cbf000) 1 0 0;
}
